.container {
  height: 100vh;
  box-sizing: border-box;
}

.hello {
  position: fixed;
  top: 20px;
  left: 20px;
}

.menu {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3,1fr);
}

.menuOption {
  border-bottom: 2px solid black;
  font-size: 4em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: end;
  cursor: pointer;
  transition: 0.2s;
}

.menu .menuOption:nth-child(2) {
  flex-direction: row-reverse;
}

.menu .menuOption:nth-child(2) .arrow {
  transform: rotate(90deg);
  margin-left: 15px;
}

.menuOption p{
  max-width: 900px;
  font-weight: 500;
}

.menuOption:hover > .arrow {
  transform: rotate(-45deg);
}

.menu .menuOption:nth-child(2):hover >  .arrow {
  transform: rotate(135deg);
}

.menu .menuOption:nth-child(1):hover {
  background-color: #82D48F;
}

.menu .menuOption:nth-child(2):hover {
  background-color: #EF9A37;
}

.menu .menuOption:nth-child(3):hover {
  background-color: #E350D5;
}

.arrow {
  height: 130px;
  width: 130px;
  transition: 0.5s;
  margin-right: 15px;
  margin-bottom: 25px;
}
